---
import '../styles/mainhead.css'
---

<section class="Mainhead">

    <div class="mainhead-cont">
        
        <h3 class="animacionmainh3">PLANKTON WALLET</h3>
        <h1>Soluciones Tecnológicas Personalizadas</h1>
        <div class="flotante">
            <p class="animacionmainp">Plankton Wallet se especializa en ofrecer <br>
                soluciones digitales seguras, personalizadas <br>
                y de fácil acceso, permitiéndote gestionar <br>
                tus recursos con confianza y eficiencia.
            </p>
        </div>
    </div>

</section>
